DATABASE_URL=
PARTICIPANT_INVITE_CODE=
ADMIN_INVITE_CODE=
ALLOW_LOCAL_STORE_IN_PRODUCTION=false
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_PRIVATE_KEY=
ARC_RECEIPT_CONTRACT_ADDRESS=
ARC_RECEIPT_RECORDER=
NEXT_PUBLIC_APP_URL=http://localhost:3000
CIRCLE_NANOPAYMENTS_ENABLED=false
