DATABASE_URL=
ADMIN_INVITE_CODE=
ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_TESTNET_PRIVATE_KEY=
ARC_RECEIPT_CONTRACT_ADDRESS=
NEXT_PUBLIC_APP_URL=http://localhost:3000
CIRCLE_NANOPAYMENTS_ENABLED=false
